.featurette-heading {
	margin-top: 0;
}

.carousel-inner {
	.item {
		background: transparent no-repeat 50% 50%;
		a {
			display: block;
			height: 100%;
			width: 100%;

			&:hover {
				background: rgba(0,0,0,0.4);
			}
		}
	}

	.pulse1 {
		background-image: url(../img/pulse1.png);
	}
	.pulse2 {
		background-image: url(../img/pulse2.png);
		background-position: 0 0;
	}
	.pulse3 {
		background-image: url(../img/pulse3.png);
	}
	.pulse4 {
		background-image: url(../img/pulse4.png);
	}
	.pulse5 {
		background-image: url(../img/pulse5.png);
	}
}